In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
df['Height'].median()

66.31807008

In [5]:
df['Height'].mode()

0       54.263133
1       54.616858
2       54.873728
3       55.148557
4       55.336492
          ...
9995    78.095867
9996    78.462053
9997    78.528210
9998    78.621374
9999    78.998742
Name: Height, Length: 10000, dtype: float64

In [6]:
from scipy import stats
stats.trimboth(df['Height'],proportiontocut=0.20)

array([62.85937379, 62.86162792, 62.86463327, ..., 69.80990157,
       69.81029132, 69.81151958])

In [7]:
stats.trim_mean(df['Height'],proportiontocut=0.20)

66.32970631917

In [8]:
df['Height'].var()

14.803472640312714

In [9]:
df['Height'].std()

3.847528120795573

In [10]:
df['Height'].describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [11]:
from numpy import percentile
data=percentile(df['Height'],[25,50,75])
print(data)

[63.50562048 66.31807008 69.17426173]

In [12]:
import numpy as np
IQR=np.subtract(*np.percentile(df['Height'],[75,25]))
IQR

5.668641247500005